# dependencies
.next/
.vscode/
.git/
node_modules/
*.log
coverage/
dist/
# misc
.env
*._.DS_Store
*.DS_Store
package-lock.json
.idea/*
pnpm-debug.log
yarn.lock

#Ignore temp and swp files
*~
*.swp
*.swo
tags
